

<mat-toolbar>
  <span>Troels' Dashboard</span>
  <span class="example-fill-remaining-space"></span>
  <form (submit)="searchGoogle(searchPhrase)">
    <mat-form-field class="example-full-width">
        <input #searchPhrase matInput appAutofocus placeholder="Search Google">
      </mat-form-field>
</form>
</mat-toolbar>




<mat-grid-list cols="4">
  <mat-grid-tile *ngFor="let item of items | async">
      <a [href]="openLink(item.url)" mat-button>
        <mat-card>{{item.title}}</mat-card>
      </a>
  </mat-grid-tile>
 </mat-grid-list>
